/*pywal stuff*/
@import '../../.cache/wal/colors-waybar.css';
@define-color text @color7;
@define-color text-alt @color9;
@define-color bg @background;
@define-color fg @foreground;

/*I have not sorted this config at all, so it's very messy, pretty much like everything else*/

* {
    /* `otf-font-awesome` is required to be installed for icons */
    border-radius: 50px;
    font-family: FontAwesome, Radio Canada Big, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

tooltip {
        /*box-shadow: 0px 5px 5px 3px @background;*/
	background-color: @bg;
	color: @text;
	border-color: @text;
	border-radius:10px;
}

tooltip label {
	font-family: Radio Canada Big;
	font-weight: 600;
	color:@text;
}

window#waybar {
    background-color: rgba (0, 0, 0, 0.0);
    /*border-bottom: 3px solid rgba(0, 0, 0, 0.5);*/
    /*color: #ffffff;*/
    /*transition-property: background-color;
    transition-duration: .5s;*/
    border-radius:50px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/*button {
     Use box-shadow instead of border so the text isn't offset 
    box-shadow: inset 0 -3px transparent;
     Avoid rounded borders under each button name 
    border: none;
    border-radius: 0;
}*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @text;
}*/

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
	/*background-color: #a37800;*/
}

#workspaces button.active {
    background-color: @text;
    color: @bg;
    /*padding: 0px 0px;*/
}

#workspaces button {
    min-width: 20px;
    /*background-color: @bg;*/
    color: @text;
    /*padding: 0px 0px;*/
}

#workspaces button:hover {
    /*background: rgba(0, 0, 0, 0.2);*/
  border-color: @text;
  color: @text;
  background-color: transparent; 
  /*padding: 0px 0px;*/
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces {
    /*background-color: @bg;*/
	color: @text;
    margin: 4px 3px;
}

/*#workspaces button.active,
#workspaces button,
#workspaces button:hover {
	padding: 4 10px;
	
}*/	
#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    /*border: 2px solid @text;*/
    /*ackground-color: @bg;*/
    padding: 0 10px; /* top, right, bottom, left; horizontal, vertical*/
    color: @text;
    margin: 4px 3px;
}

#custom-power {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    font-size:20px;

	color: @text;
}	
#window {
 
        /*border: 2px solid @text;*/
	/*background-color: @text;*/
	color: @text;
	margin: 0px 5px;
	padding: 0 5px;
}


#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.forward, #custom-playerlabel {

	font-size: 15px;
	color: @text;

}	
/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {
    margin-left: 4;
}*/

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @text;
}

#memory {
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    color: @text;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
